
*.o

ivp-build-Desktop_Qt_5_0_0_clang_64bit_SDK-Debug/Makefile

*.plist

ivp-build-Desktop_Qt_5_0_0_clang_64bit_SDK-Debug/ivp.app/Contents/MacOS/ivp

ivp-build-Desktop_Qt_5_0_0_clang_64bit_SDK-Debug/ivp.app/Contents/PkgInfo

ivp-build-Desktop_Qt_5_0_0_clang_64bit_SDK-Debug/moc_MainWindow.cpp

ivp-build-Desktop_Qt_5_0_0_clang_64bit_SDK-Debug/ivp.app/Contents/Resources/empty.lproj

ivp-build-Desktop_Qt_5_0_0_clang_64bit_SDK-Debug/moc_Overlay.cpp

ivp-build-Desktop_Qt_5_0_0_clang_64bit_SDK-Debug/moc_MetaInfo.cpp

ivp-build-Desktop_Qt_5_0_0_clang_64bit_SDK-Debug/moc_VideoPlayer.cpp

ivp-build-Desktop_Qt_5_0_0_clang_64bit_SDK-Debug/moc_SideBar.cpp

ivp-new/ivp.pro.user

videowidget.pro.user
